{{definir "Nuevo" }}
  {{plantilla "Encabezado" }}
    {{template "Menu" }} 
    < h2 > Nuevo nombre y ciudad < / h2 >   
    < form method = "POST" action = "insert" > 
      < label > Nombre < / label > < input  type = "text" name = " nombrar"  / > < br / > 
      < etiqueta > City </ etiqueta > <de entrada  de tipo = "texto" nombre = "ciudad"  / > < br / > 
      < entrada de  tipo = "submit" valor = "Guardar usuario"  / > 
    < / forma > 
  {{plantilla "pie de página" }}
{{ fin }}