{{definir "Mostrar" }}
  {{plantilla "Encabezado" }}
    {{template "Menu"   }}
     < h2 > Registrarse {{.Id}} < / h2 > 
      < p > Nombre: {{.Name}} < / p > 
      < p > Ciudad: {{.City}} < / p > < br / >  < a href = "/ editar? id = {{}} .ID" > Editar < / a > < / p > 
  {{plantilla "pie de página" }}
{{ fin }}